<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div id="header-bits">
    <div id="instagram"><%= link_to "Instagram", root_path %></div>
    <%# TO DO search bar %>
    <div id="nav">
      <%= link_to "Home", root_path %>
      <% if user_signed_in? %>
      <%# DMs %>
      <% end %>
      <%= link_to "Explore", posts_path %>
      <% if user_signed_in? %>
      <%# Activity %>
      <%= link_to "Profile", current_user %>
      <% end %>
    </div>
    </div>
    </header>

    <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
   
    <%= yield %>
    </main>
  </body>
</html>
